{% extends 'base.html' %}

{% block content %}

    {% for film in films %}

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{film.title}}</h2>
        <p class="lead">{{film.description}}</p>
        <p class="lead"><br/>{% for actor in film.actors.all %} <a href="/actor/{{actor.id}}/"> {{ actor }}  </a><br/>{% endfor %}</p>
        <p class="lead">Rating: {{film.average_rating}}</p>
      </div>
      <div class="col-md-5">
        <img  class="img-responsive watch-right" style="max-width:500px;" alt="not found" src="{{film.image.url}}"/>
      </div>
    </div>
    <form  method="POST"  action="/rate_film/{{film.id}}/" class="post-form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type = "submit" value = "Submit">
    </form>

    {% endfor %}
{% endblock %}